# EDA (Exploratory Data Analisys) llamadas 123 julio 2022

In [164]:
# importar librerias de manipulacion de datos
import numpy as np
import pandas as pd

# ijmportar librerias del sistema
import os
from pathlib import Path

In [165]:
root_dir = Path(".").resolve().parent
print ('root dir:', root_dir)

root dir: C:\Users\ccgua\OneDrive\Desktop\Cursos\EspecializacionBigdata\Clase_HerramientasBigData\ejercicios_python\BigData2022B

In [166]:
os.path.join(root_dir,'data','raw','llamadas123_julio_2022.csv')

'C:\\Users\\ccgua\\OneDrive\\Desktop\\Cursos\\EspecializacionBigdata\\Clase_HerramientasBigData\\ejercicios_python\\BigData2022B\\data\\raw\\llamadas123_julio_2022.csv'

In [167]:
from fileinput import filename

filename="llamadas123_julio_2022.csv"
data_dir = "data"
data_dir2 = "raw"
file_path = os.path.join(root_dir,data_dir,data_dir2,filename)
print(file_path)

C:\Users\ccgua\OneDrive\Desktop\Cursos\EspecializacionBigdata\Clase_HerramientasBigData\ejercicios_python\BigData2022B\data\raw\llamadas123_julio_2022.csv

In [168]:
##print(file_path)
data2= pd.read_csv(r'C:\Users\ccgua\OneDrive\Desktop\Cursos\EspecializacionBigdata\Clase_HerramientasBigData\ejercicios_python\BigData2022B\data\raw\llamadas123_julio_2022.csv', encoding='latin-1',delimiter=';')

In [212]:
data=pd.read_csv(file_path,encoding='latin-1',delimiter=';')

In [170]:
data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,Años,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,Años,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,Años,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,Años,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [171]:
data.shape  # retorna la dupla con las dimensiones de la tabla, (numero de filas y columnas)

(13055, 11)

In [172]:
data.dtypes # estructura de la tabla

NUMERO_INCIDENTE                     object
FECHA_INICIO_DESPLAZAMIENTO_MOVIL    object
CODIGO_LOCALIDAD                      int64
LOCALIDAD                            object
EDAD                                 object
UNIDAD                               object
GENERO                               object
RED                                  object
TIPO_INCIDENTE                       object
PRIORIDAD                            object
RECEPCION                            object
dtype: object

In [173]:
data.head()
print('Forma inicial', data.shape)

Forma inicial (13055, 11)

In [174]:


data = data.drop_duplicates() #elimina los duplicados

In [175]:


print('forma Final ',data.shape)

# %%
# esquema de la tabla
data.info()

# %%
data['UNIDAD'].value_counts(dropna=False) # realiza un conteo de los diferentes valores

forma Final  (13026, 11)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13018 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.2+ MB

Años        6781
SIN_DATO    6187
Meses         39
NaN            8
Horas          6
Dias           5
Name: UNIDAD, dtype: int64

In [176]:

# %%
data['UNIDAD'].fillna('SIN DATO').value_counts(dropna=True)

Años        6781
SIN_DATO    6187
Meses         39
SIN DATO       8
Horas          6
Dias           5
Name: UNIDAD, dtype: int64

In [177]:
data['UNIDAD']= data['UNIDAD'].fillna('SIN_DATO')
## sobreescibo la columna Unidad que tenia valores nulos por una nueva sin nulos

In [178]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.2+ MB

In [156]:
## Manipulacion  fechas (datetiem)
col= 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
data[col].min()

'0000-00-00 00:00:00'

In [27]:
##aplicar filtros
val_min= data[col].min()
data[data[col]== val_min]  ## aplica filtro igual a minimo valor

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
13054,CRU-00312775-22,0000-00-00 00:00:00,9,Fontib¢n,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Accidente Cerebro Vascular,ALTA,0000-00-00 00:00:00

In [28]:
data[data[col]!= val_min]  ## aplica filtro , diferente a minimo valor

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,Años,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,Años,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,Años,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,Años,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29
...,...,...,...,...,...,...,...,...,...,...,...
13049,CRU-00314021-22,2022-08-02 03:25:08,14,Los M rtires,SIN_DATO,SIN_DATO,SIN_DATO,Centro Oriente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00
13050,CRU-00314021-22,2022-08-08 05:31:48,14,Los M rtires,18,Años,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,8/08/2022 6:48
13051,CRU-00314021-22,2022-08-08 10:38:32,14,Los M rtires,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00
13052,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,11,Años,MASCULINO,Centro Oriente,Acompa¤amiento Evento,BAJA,9/08/2022 13:13
13053,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,19,Años,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00

In [179]:
## formato de fechas 

data[col]=pd.to_datetime(data[col], errors='coerce')

In [180]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.2+ MB

In [53]:
from dateutil.parser import  parse

In [54]:
data['RECEPCION']
##data[col2]=pd.to_datetime(data[col2], errors='coerce')

0        2022-07-01 03:40:13
1        2022-07-01 03:38:13
2        2022-07-01 04:08:24
3        0000-00-00 00:00:00
4        2022-07-01 03:25:29
                ...
13050         8/08/2022 6:48
13051    0000-00-00 00:00:00
13052        9/08/2022 13:13
13053    0000-00-00 00:00:00
13054    0000-00-00 00:00:00
Name: RECEPCION, Length: 13026, dtype: object

In [182]:
data.shape[0]

13026

In [186]:
## una funcion que reciba string  , con fechas y regrese el valor  en datatime parse
def convertir_formato_fecha (str_fecha):
    ''' 
    Retorna los valores Minimo y Maximo de una lista de numeros
    Argumentos:
        lista_numeros:type list
    '''
    val_datetimer= parse(str_fecha, dayfirst=True, yearfirst=False)

    return val_datetimer

In [34]:
data= data.reset_index

In [62]:
data.info()
data.shape[0]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.7+ MB

13026

In [184]:
data =data.reset_index()

In [60]:
data['RECEPCION']

0        2022-07-01 03:40:13
1        2022-07-01 03:38:13
2        2022-07-01 04:08:24
3        0000-00-00 00:00:00
4        2022-07-01 03:25:29
                ...
13050         8/08/2022 6:48
13051    0000-00-00 00:00:00
13052        9/08/2022 13:13
13053    0000-00-00 00:00:00
13054    0000-00-00 00:00:00
Name: RECEPCION, Length: 13026, dtype: object

In [66]:
 ### recorreo el campo RECEPCION , en todos sus registro y hace un perse cambio de formato con la funcion previamente creada

list_fechas= list()
n_filas= data.shape[0] 
##n_filas=len(data['RECEPCION']) ### tamaño de filas campo recepcion 
for i in range(0, n_filas):

    str_fecha=data['RECEPCION'][i]

    try:
        val_datatime=  convertir_formato_fecha (str_fecha=str_fecha)
        list_fechas.append(val_datatime)
    except Exception as e:
        ##print(i,e)
        list_fechas.append(str_fecha)
        continue

In [188]:
data['RECEPCION_CORREIGA']=list_fechas

In [189]:
## quitar vacios y dejar na , ya se convierte en datatime
data['RECEPCION_CORREIGA']=pd.to_datetime(data['RECEPCION_CORREIGA'], errors='coerce')

In [190]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   index                              13026 non-null  int64
 1   NUMERO_INCIDENTE                   13026 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 3   CODIGO_LOCALIDAD                   13026 non-null  int64
 4   LOCALIDAD                          13026 non-null  object
 5   EDAD                               13026 non-null  object
 6   UNIDAD                             13026 non-null  object
 7   GENERO                             13026 non-null  object
 8   RED                                13026 non-null  object
 9   TIPO_INCIDENTE                     13026 non-null  object
 10  PRIORIDAD                          13026 non-null  object
 11  RECEPCION                          13026 non-null  object
 12  RECEPCION_CORREIGA                 5259 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(9)
memory usage: 1.3+ MB

In [157]:
data['EDAD'].value_counts(dropna=False)

SIN_DATO    6187
23           150
22           140
30           134
27           134
            ...
7             17
98            16
9             15
8             14
97            12
Name: EDAD, Length: 100, dtype: int64

In [220]:
## reeemplazar sin dato campos EDAD a vacio   
data['EDAD']=data['EDAD'].replace({'SIN_DATO': np.nan})

In [224]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13055 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13055 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13055 non-null  object
 2   CODIGO_LOCALIDAD                   13055 non-null  int64
 3   LOCALIDAD                          13055 non-null  object
 4   EDAD                               6852 non-null   object
 5   UNIDAD                             13047 non-null  object
 6   GENERO                             13055 non-null  object
 7   RED                                13055 non-null  object
 8   TIPO_INCIDENTE                     13055 non-null  object
 9   PRIORIDAD                          13055 non-null  object
 10  RECEPCION                          13055 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [225]:
## funciones lambda para validar si elemento es nullo si no convierta en int

x= np.nan
f= lambda x: x if pd.isna(x)== True else int(x)

f(x)

nan

In [226]:
## aplicar formula para convertir 
data['EDAD'].apply(f)

0        88.0
1        16.0
2        52.0
3         NaN
4        33.0
         ...
13050    18.0
13051     NaN
13052    11.0
13053    19.0
13054     NaN
Name: EDAD, Length: 13055, dtype: float64

In [218]:
data['LOCALIDAD']
list_flis_localidad= data['LOCALIDAD']

In [92]:
list_flis_localidad

0                      Suba
1                      Suba
2        Rafael Uribe Uribe
3            Ciudad Bol¡var
4                   Usaqun
                ...
13021          Los M rtires
13022          Los M rtires
13023              Engativ
13024              Engativ
13025              Fontib¢n
Name: LOCALIDAD, Length: 13026, dtype: object

In [130]:
## funcuion que asigna formato , quitar espacio y deja en minuscula
def convertir_minuscula_sin_espacio (str_localidad):
    ''' 
    Retorna los valores Minimo y Maximo de una lista de numeros
    Argumentos:
        lista_numeros:type list
    '''
    val_str= val_str.lower()
    val_str= val_str.lstrip()
    val_str =val_str.decode('Unicode')

    return val_str

In [201]:
data.shape[0]

13026

In [131]:
list_flis_localidad= list()
n_filas= data.shape[0] 
##n_filas=len(data['RECEPCION']) ### tamaño de filas campo recepcion 
for i in range(0, n_filas):

    str_localidad=data['LOCALIDAD'][i]

    try:
        val_data=  convertir_minuscula_sin_espacio (str_localidad=str_localidad)
        list_flis_localidad.append(val_data)
    except Exception as e:
        ##print(i,e)
        list_flis_localidad.append(str_localidad)
        continue

In [217]:
data['LOCALIDAD']

0                      Suba
1                      Suba
2        Rafael Uribe Uribe
3            Ciudad Bol¡var
4                   Usaqun
                ...
13050          Los M rtires
13051          Los M rtires
13052              Engativ
13053              Engativ
13054              Fontib¢n
Name: LOCALIDAD, Length: 13055, dtype: object

In [203]:
data['LOCALIDAD']=list_flis_localidad
##data['LOCALIDAD'].apply(lambda x: x.strip()).value_counts()

In [135]:
data['LOCALIDAD'].value_counts()

kennedy               1740
suba                  1323
engativ               1304
bosa                  1065
ciudad bol¡var        1009
puente aranda          742
fontib¢n               670
usaqun                667
rafael uribe uribe     601
usme                   597
san crist¢bal          595
chapinero              507
tunjuelito             391
barrios unidos         389
los m rtires           379
teusaquillo            361
santa fe               356
antonio nari¤o         244
la candelaria           85
sumapaz                  1
Name: LOCALIDAD, dtype: int64